*
*/*
!.gitignore
!.github
!.github/workflows
!LICENSE
!mainTemplatePDF.tex
!refs.bib
!generate_bib.py
!simpleConference.sty
!images/sigma_eff_DPS_summary.png
!images/CMS_pileup_allYears_run3.png
!images/CMS_disection_Run2.png
!images/CMS_int_lumi_Run3.png
!images/JpsiJpsiPhi_fit.png
!images/JpsiJpsiY_fit.png
!images/JpsiJpsiY_fit.png
!images/yabs_LHE_LEVEL_TPS_JJY1S_correlation_filtered_p2.png
!images/yabs_LHE_LEVEL_DPS_JY1S_J_correlation_filtered_p2.png
!images/yabs_LHE_LEVEL_DPS_JJ_Y1S_correlation_filtered_p2.png
!images/LHE_LEVEL_TPS_DeltaY_filtered.png
!images/LHE_LEVEL_TPS_DeltaPhi_filtered.png
!images/LHE_LEVEL_TPS_DeltaR_filtered.png
!images/LHE_LEVEL_DPS_J_JY1S_DeltaY_filtered.png
!images/LHE_LEVEL_DPS_J_JY1S_DeltaPhi_filtered.png
!images/LHE_LEVEL_DPS_J_JY1S_DeltaR_filtered.png
!images/LHE_LEVEL_DPS_JJ_Y1S_DeltaY_filtered.png
!images/LHE_LEVEL_DPS_JJ_Y1S_DeltaPhi_filtered.png
!images/LHE_LEVEL_DPS_JJ_Y1S_DeltaR_filtered.png
!images/Ntuple_LEVEL_TPS_DeltaPhi_filtered.png
!images/Ntuple_LEVEL_TPS_DeltaY_filtered.png
!images/Ntuple_LEVEL_TPS_DeltaR_filtered.png